version: "3.9"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: proyecto_user
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: proyecto_desercion
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: bash entrypoint.sh
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      # Variables para que Django se conecte a Postgres
      DB_NAME: proyecto_db
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_HOST: db
      DB_PORT: 5432

volumes:
  postgres_data:
