{% extends "base.html" %}
{% load static %}

{% block title %}Mis finanzas{% endblock %}

{% block content %}
<h1>Mis Cuentas</h1>

<a href="{% url 'dashboards:crear_cuenta' %}">Nueva Cuenta</a>

<ul>
  {% for cuenta in cuentas %}
    <li>
      <a href="{% url 'dashboards:detalle_cuenta' cuenta.id %}">
        {{ cuenta.nombre }}
      </a>Balance: ${{ balances.cuenta.id }}
    </li>
    <form method="post"
            action="{% url 'dashboards:eliminar_cuenta' cuenta.id %}"
            style="display:inline;"
            onsubmit="return confirmarEliminacion(event)">
        {% csrf_token %}
        <button type="submit" style="color:red;">X</button>
    </form>
  {% empty %}
    <li>No tienes cuentas registradas.</li>
  {% endfor %}
</ul>

<script>
function confirmarEliminacion(event) {
  event.preventDefault();
  const confirmacion = confirm("¿Seguro que deseas eliminar este movimiento?");
  if (confirmacion) {
    event.target.submit();
  }
}
</script>

{% endblock %}